@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .slide-img
    height: 100%
  .card
    width: 230px 
    
   

@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 29px
    &__search
      margin-left: 48px
    &-menu
      padding: 22px 14px 21px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .breadcrumb
    &-list
      padding: 20px 0 18px 0
  .hotel-discription 
    letter-spacing: 0.15px
  .rating 
    padding: 3px 5px 5px 4px
    margin-top: 4px
  .slider
    width: 100%
  .slide-img
    height: 500px
    object-fit: cover
  .hotel
    &-grid
      flex-direction: column
    &-right-block
      margin-top: 30px
      flex-direction: row
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
    &__per-room 
      margin-top: -5px
  .map 
    width: 340px
  .newsletter
    margin-top: 60px
    &__title
      margin-top: -8px
      margin-left: 2px
  .reviews
    padding: 37px 0 0 0
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__profile
        margin-bottom: px
      &__item
        max-width: 579px
        margin: 95px auto 0
      &__avatar
        margin-bottom: -3px
      &__username
        margin-bottom: 10px
      &__date
        margin-bottom: -3px
      &__text
        font-size: 12px
        line-height: 160%
        padding-left: 0
        width: 455px
        padding-right: 0
      &__button
        &--next
        right: 1px
        &--prev
          left: 1px
  .activities
    padding: 44px 0 98px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
      padding: 24px 106px 24px 26px
  .card
    width: 339px
 

    



@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-button
        padding: 0
    .menu
      &-button
        display: flex
        width: 16px
        height: 11px
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light
        cursor: pointer
        margin: 0 13px
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
    margin-right: 30px
    margin-bottom: 5px
  .hotel
    padding-top: 5px
    padding-bottom: 20px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 9px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-discription 
      letter-spacing: 0.26px
  .swiper-hotel
    height: 350px
  .slider
    height: 350px
    .slide-img
      height: 350px   
  .hotel
    &-right-block
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    margin-top: 40px
    min-height: 319px
    &__title
      margin-bottom: 20px
      margin-top: 0
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        margin-top: 6px
        font-size: 30px
        line-height: 38px
    &-wrapper
      flex-direction: column
      align-items: start
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 80px
        &--prev
          margin-left: -75px
          left: 50%
          /** центрирование **/
          transform: translate(-50%, 0)
        &--next
          right: 50%
          transform: translate(-50%, 0)
          margin-right: -100px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
    &__title
      &-1
        margin-right: 0px
      &-2
        margin-right: -10px
      &-3
        margin-right: -20px
      &-4
        margin-right: -60px
        
@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    width: 95%
    margin-top: 15px
    height: 179px
  .booking
    width: 95%
  .map
    width: 95%
    height: 173px
  .swiper-hotel
    height: 179px
    .slide-img
      height: 179px
    &__item
      height: 179px
    &__button
      width: 0px
      height: 7px
      &--next
        right: 7px
      &--prev
        left: 7px
  .hotel
    &-right-block
      margin-top: 23px
      min-height: 400px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .reviews
    padding: 40px 0 70px 0
    &__title
      font-size: 18px
      line-height: 23px
      padding-left: 10px
      padding-right: 24px
    &-slider
      &__profile
        margin-right: 15px
      &__item
        margin: 90px auto 0
      &__text
        font-size: 12px
        line-height: 160%
        width: 95%
        min-height: 266px
        margin-left: -9px
        text-align: left
      &__button
        top: 75px
        &--prev
          margin-left: -90px
  .activities
    padding-top: 33px
    &__card
      &-1
        order: -2
      &-2
        order: 1
      &-3
        order: -2
        margin-bottom: 28px
      &-4
        order: 1
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 35px
  .card
      width: 95%
@media (max-width: 380px)
  .subscribe
    width: 280px
  .reviews
    padding: 40px 0 70px 0
    &__title
      font-size: 18px
      line-height: 23px
      padding-left: 10px
      padding-right: 24px
    &-slider
      min-height: 500px
      &__profile
        margin-right: 15px
      &__item
        margin: 90px auto 0
      &__text
        font-size: 12px
        line-height: 160%
        width: 219px
        min-height: 266px
        margin-right: 1px
      &__button
        &--next
          margin-right: -110px
        &--prev
          margin-left: -100px
  .card
    width: 95%
    
