.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: start
    justify-content: space-between
    &__offer
      margin-left: 17px
      margin-top: 0px
    &__name
      margin-top: 2px
      margin-bottom: 0
    &__discription
      margin: 0px 0px
    &__rating
      margin-top: 0
  &-name
    font-size: 24px
    line-height: 30px
    text-transform: uppercase
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-discription
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.1px
.stars
  /** чтобы блок занял всю строчку **/
  display: flex
  flex-basis: 100%
  &__item
    margin: 1px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  border-radius: 3px
  color: $light
  max-width: 70px
  min-height: 20px
.rating 
  max-width: 65px
  height: 45px
  text-align: center
  color: $light
  background-color: $primary
  border-radius: 3px
  padding: 5px 5px 5px 4px
  margin-top: 2px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
  &__five
    font-size: 10px
    line-height: 13px
